:root {
    /* grid square size for background */
    --s: 30px;
    /* grid square line colors */
    --c11: rgba(139, 139, 139, 0.7);
    --c12: #939393;

    /* background gradient colors */
    --c21: #384968;
    --c22: #2d3956;
    --c23: #1f2a3e;
    --_g: #0000 90deg, var(--c11) 0;

    /* main content wrapper background */
    --b1: #7b8ba4;
    --b2: #223457;
}

html {
    height: 100%;

    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}

body {
    margin: 0px;
    min-height: 100%;

    background:
        conic-gradient(from 90deg at 1px 1px, var(--_g)),
        conic-gradient(from 90deg at 0.5px 0.5px, var(--_g)),
        linear-gradient(to bottom, var(--c21), var(--c22), var(--c23));
    background-size:
        var(--s) var(--s),
        calc(var(--s) / 5) calc(var(--s) / 5),
        100% 100%;
    background-repeat: repeat, repeat, no-repeat;
    /* optional fixed in place when scrolling or scroll with viewport */
    background-attachment: fixed;

    .center-wrapper {
        background-color: var(--b1);
        min-height: 100vh;

        text-align: center;

        margin: 0px 160px 0px 160px;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.header-wrapper {
    padding: 10px 10px;

    .logo-wrapper {
        display: flex;
        align-items: center;

        .logo {
            background-color: white;
            width: 60px;
            height: 60px;
            align-content: center;
            color: #384968;

            /* TODO remove placeholder logo */
            corner-shape: notch;
            border-radius: 90px;
        }

        .logo-label-wrapper {
            display: flex;
            flex-direction: column;
            padding-left: 16px;
            align-items: start;

            p {
                padding: 0px;
                text-transform: uppercase;
                color: white;
                float: left;
                border: none;
                outline: none;
                font-size: 17px;
            }
        }
    }

    .tab-wrapper {
        border: #384968 solid 2px;
        border-style: groove;
        display: flex;

        div,
        .tablink {
            /* background-color: #637795; */
            background-color: #384968;
            text-transform: uppercase;
            color: white;
            float: left;
            border: none;
            outline: none;
            font-size: 17px;

            /* border-style: ridge; */
        }

        div {
            padding: 8px 8px;
            width: 320px;
            border: rgb(33, 33, 33) solid 2px;
        }

        .tablink {
            cursor: pointer;
            padding: 8px 16px;
            /* width: 25%; */
            flex-grow: 4;
            border-top: rgb(33, 33, 33) solid 2px;
            border-bottom: rgb(33, 33, 33) solid 2px;
            border-right: rgb(33, 33, 33) solid 2px;

            &:hover {
                background-color: #253b5c;
            }
        }
    }
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

.center-content-wrapper {
    background-color: #223457;
    height: 400px;
}
