:root {
    /* grid square size for background */
    --s: 30px;
    /* grid square line colors */
    --c11: rgba(139, 139, 139, 0.7);
    --c12: #939393;

    /* background gradient colors */
    --c21: #384968;
    --c22: #2d3956;
    --c23: #1f2a3e;
    --_g: #0000 90deg, var(--c11) 0;

    /* main content wrapper background */
    --b1: #7b8ba4;
    --b2: #223457;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;

    background:
        conic-gradient(from 90deg at 1px 1px, var(--_g)),
        conic-gradient(from 90deg at 0.5px 0.5px, var(--_g)),
        linear-gradient(to bottom, var(--c21), var(--c22), var(--c23));
    background-size:
        var(--s) var(--s),
        calc(var(--s) / 5) calc(var(--s) / 5),
        100% 100%;
    background-repeat: repeat, repeat, no-repeat;
    /* optional fixed in place when scrolling or scroll with viewport */
    background-attachment: fixed;

    .center-wrapper {
        background-color: var(--b1);
        min-height: 100vh;

        text-align: center;

        margin: 0px 160px 0px 160px;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.tab-wrapper {
    border: white solid 1px;
}
.tablink {
    background-color: #637795;
    text-transform: uppercase;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;

    &:hover {
        background-color: #253b5c;
    }
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}
